.dialog-form {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  padding-top: 8px;
}

.full-width {
  width: 100%;
}

::ng-deep .mat-mdc-dialog-container {
  border-radius: 20px !important;
}
