<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="!isMobile"
    class="sidenav"
  >
    <div class="sidenav-header">
      <img src="club-logo.png" alt="CPBC" class="nav-logo" />
      <span class="nav-title">CPBC Manager</span>
    </div>

    <mat-nav-list>
      @for (item of navItems; track item.route) {
        <a mat-list-item [routerLink]="item.route" routerLinkActive="active-link" (click)="onNavClick()">
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label }}</span>
        </a>
      }
    </mat-nav-list>

    <div class="sidenav-footer">
      <mat-divider></mat-divider>
      <a mat-list-item (click)="logout()" class="logout-item">
        <mat-icon matListItemIcon>logout</mat-icon>
        <span matListItemTitle>Logout</span>
      </a>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="app-toolbar">
      @if (isMobile) {
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      }
      @if (isMobile) {
        <img src="club-logo.png" alt="CPBC" class="toolbar-logo" />
      }
      <span class="toolbar-title">Central Park Basketball Club</span>
      <span class="spacer"></span>
    </mat-toolbar>

    <div class="content">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
